<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.2" />
      </system.Web>
  -->
  <system.web>
    <!-- Para subir a 800 MB - maxRequestLength is measured in kilobytes
    <httpRuntime executionTimeout="600" maxRequestLength="800000"/>
	-->
    <compilation debug="true" targetFramework="4.7.2"/>
    <httpRuntime targetFramework="4.7.2" executionTimeout="600" maxRequestLength="800000" />
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
		<!-- Para subir a 3000 MB - maxAllowedContentLength is measured in bytes  -->
        <requestLimits maxAllowedContentLength="3000000000"/>
      </requestFiltering>
    </security>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <appSettings>
    <!-- usuario de la base de datos SAP -->
    <add key="usuarioBaseDatos" value="mydealer"/>
    <!-- clave de acceso a la base de datos SAP -->
    <add key="passwordBaseDatos" value="*****"/>
    <!-- usuario sap -->
    <add key="usuarioSAP" value="mydealer"/>
    <!-- clave de usuario sap -->
    <add key="passwordSAP" value="***"/>
    <!-- nombre de la base de datos SAP -->
    <add key="nombreBaseDatos" value="TEST"/>
    <!-- ip de la base de datos SAP -->
    <add key="ipBaseDatos" value="10.0.1.105"/>
    <!-- direccion y puerto del servidor de licencias -->
    <add key="ipServidorLicencia" value="GVS070"/>
    <!-- Lenguaje de la base de datos -->
    <add key="lenguajeConector" value="ln_English"/>
    <!-- tipo de base de datos (ver tipos definidos en la documentacion sap -->
    <add key="tipoBaseDatos" value="dst_MSSQL2012"/>
    <!-- cadena de conexion a la base de datos sap para extraer las vistas -->
    <add key="datosConexion" value="192.168.01.02"/>
    <!-- (P|C) Separador decimal para conversiones numericas, si es P, todas las comas se reemplazan por punto -->
    <add key="separadorDecimal" value="P"/>
    <!-- (EC|CL) Pais, define comportamientos especiales -->
    <add key="paisSistema" value="EC"/>
    <!-- (true|false) Aprobacion, indica si deben enviarse o no parametros de aprobacion de pedidos a SAP -->
    <add key="aprobacion" value="true"/>
    <!-- La serie utilizada para las retenciones (usada en cobranzas para la forma de pago retencion -->
    <add key="serieRetencion" value="224"/>
    <add key="empresa" value="DKS"/>
    <add key="moneda" value="US$"/>
    <add key="sufijo" value=""/>
    <add key="conexionAlterna" value="."/>
    <add key="sp_pedido_cab" value="Vta_OrdPedidoCrea_23"/>
    <add key="sp_pedido_det" value="Vta_OrdPedidoDetCrea_28"/>
    <add key="fecha_moneda" value="dd/MM/yyyy"/>
    <add key="cd_cc" value="FS01"/>
    <add key="cd_sc" value="FSC03"/>
    <add key="cd_ss" value="01010101"/>
  </appSettings>
</configuration>